@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
  }  

body {
    background-attachment: fixed;
    background: linear-gradient(250deg, #27174A, #161832, #101728);
    
}

.principal {    
    font-size: 90px;    
    margin-top: 50%;
    color: white;
    text-shadow: 2px 2px 4px #7529D6;
    max-width: 100%;
    max-height: 100%;
}

.home {
    height: 100vh;
}

.quemSomos {
    padding-top: 10px;
    background: linear-gradient(16px, #27174A, #161832, #101728);
    height: 100vh;
}

.foto{
    padding: 0;
    height: 500px;
    width: 500px;
    margin-top: 30%;
    margin-left: 40%;
    border-radius: 20px;
}
.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(65,37,131), rgb(38,14,105));
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 10px;
  }
  
.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding-top: 30px;
    
}

.menu a:hover {
    color: #7a7a7a;
    transform: scale(1.04);

}

.menu .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icone {
    background-color: transparent;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    border: 0;
    font-size:30px
}

.header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.navegacao {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.navegacao ul{
    margin-left: 550px;
}

.navegacao button{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 20pc;
    background: linear-gradient(to left, rgb(65,37,131), rgb(38,14,105));  
    transition: .3s;  
}
.navegacao button a{
    text-decoration: none;
    color: #fff;
}

.navegacao button:hover{
    transform: scale(1.04);
}

.barraNav li:hover{
    transform: scale(1.2);
}

.barraNav {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding: 10px;
}

.barraNav a {
    text-decoration: none;
    color: white;
    transition: .2s;
}

.barraNav a:hover {
    color: #7529D6;    
}
  
.header img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.empresa {
    font-size: 30px;
}

.gradiente-botão {
    background: linear-gradient(to left, rgb(65,37,131), rgb(38,14,105));
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    font-family: Cabin;
    font-weight: Cabin;
    margin-top: 2;
    
}


.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "principal foto";
    align-items: center;
    justify-items: center;
}


.titlepage {    
    text-align: center;
    padding-bottom: 60px;
    color: #ffffff;
}

.titlepage h2 {
    font-size: 50px;
    line-height: 55px;
    padding: 0;
}

.read_more {   
    font-size: 17px;
    background-color: transparent;
    border: #00aeef solid 5px;
    color: #00aeef!important;
    padding: 13px 0px;
    width: 100%;
    max-width: 210px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
    border-radius: 40px;
    font-weight: 500;
}

.read_more:hover {
    background: #00aeef;
    color: #fff !important;
    transition: ease-in all 0.5s;
}

.blu {
    color: rgb(38,14,105)
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about {
    height: 100%;
    background: linear-gradient(to right,rgb(52,32,123), rgb(76,28,204),rgb(100,60,227));
    padding: 90px 0;
}

.about .titlepage {
     text-align: left;
     padding: 0;
     max-width: 669px;
     width: 100%;
     float: left;
}

.about .titlepage h2 {
     margin-bottom: 40px;
}

.about .titlepage p {
     font-size: 17px;
     line-height: 35px;
     font-weight: 400;
     padding-bottom: 50px;
}

.about .titlepage .read_more {
     float: right;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
}

.container-fluid {
    margin-top: 100px;
}

#rodape {
    background-color: rgb(24, 24, 24);
    color: white;
}

.fooder {
    background-color: rgb(24, 24, 24);
}

@media screen and (min-width: 1025px) {
    #myMenu {
        display: none;
    }

    .icone {
        display: none;
    }
}

@media screen and (max-width: 935px) {

.principal {
    font-size: 15vw; 
}

.quemSomos {
    padding-top: 5vw;
}

.main-content {
    display: block;
    text-align: center;
}

.foto {
    display: block;
    margin: 10% auto 0; 
    max-width: 80%; 
    height: auto; 
    border-radius: 10px;
}

.container-fluid {
    margin-top: 0;
}

.about .titlepage h2 {
    font-size: 8vw;
    margin-bottom: 5px;
}


.about .titlepage p {
    font-size: 3vw;
    line-height: 6vw;
    font-weight: 0;
    padding-bottom: 0px;
}

.navegacao {
    display: none;
}


.menu {
    width: 80%; 
    height: 100%;
    border-radius: 10px;
}
}