@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background: linear-gradient(#00e48c,#00e48c)
}

.h{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 40px 4px;
    top: 0;
    left: 0;
    background: transparent;
    position: fixed;
    transition: .2s;
}

header.rolagem{
    background-color: #fff;
    padding: 20px 4px;
}

header.rolagem .Login{
    background: #00e48c;
    color: #fff;
}

header.rolagem .Login a{
    color: #fff;
}

.navgation{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.dropdown{
    display: flex;
    margin-left: 16px;
    
    
}



.Login{
    padding: 12px 20px;
    border-radius: 20px;
    background: #fff;
    color: #00e48c;
    display: flex;
    justify-content: space-around;
    align-items: center;        
}

.Login a{
    color: #00e48c;
    text-decoration: none;
   
}

.main-content{
    display: flex;
    justify-content: space-around;
    margin: 300px 200px;
    color: #fff;
}

.main-content img{
    width: 600px;
    margin-right: 100px;
}


.About-us{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}
.About-us h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    background: rgba(0,0,0,0.2);
}