@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
  }  

body {
    background-attachment: fixed;
    background: linear-gradient(250deg, #27174A, #161832, #101728);
    
}


.roxo {
    color: #7529D6;
    text-shadow: white;
}

.principal {    
    font-size: 35px;    
    margin-top: 22vh;
    color: white;
    text-shadow: 2px 2px 4px #7529D6;
    max-width: 100%;
    max-height: 100%;
}

p {
    text-align: justify;
}

.paragrafo {
    font-size: 15px;
    color: white;
    float: left;
    text-align: justify; 
    max-width: 50%;
    
}

.main-content {
    .principal {    
        font-size: 35px;    
        margin-top: 22vh;
        color: white;
        text-shadow: 2px 2px 4px #7529D6;
        max-width: 100%;
        max-height: 100%;
    }

    .paragrafo {
        font-size: 15px;
        color: white;
        float: left;
        text-align: justify; 
        max-width: 50%;
    }
}

.barraNav li:hover{
    transform: scale(1.2);
}

.home {
    height: 100vh;
}

.teste {
    padding-top: 10px;
    background: linear-gradient(16px, #27174A, #161832, #101728);
    height: 100vh;
}

.foto {
    margin-top: -50px;
    margin-left: 148px;
}


.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, rgb(65,37,131), rgb(38,14,105));
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 10px;
  }
  
.menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    padding-top: 30px;
    
}

.menu a:hover {
    color: #7a7a7a;
}

.menu .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.icone {
    background-color: transparent;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    border: 0;
    font-size:30px
}

.header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
}

.navegacao {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.header img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.navegacao {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.navegacao ul{
    margin-left: 550px;
}

.navegacao button{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 20pc;
    background: linear-gradient(to left, rgb(65,37,131), rgb(38,14,105));  
    transition: .3s;  
}
.navegacao button a{
    text-decoration: none;
    color: #fff;
}

.navegacao button:hover{
    transform: scale(1.04);
}

.barraNav li:hover{
    transform: scale(1.2);
}

.barraNav {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding: 10px;
}

.barraNav a {
    text-decoration: none;
    color: white;
    transition: .2s;
}

.barraNav a:hover {
    color: #7529D6;    
}
  

a {
    text-decoration: none;
}



#rodape {
    background-color: rgb(24, 24, 24);
    color: white;
}

.fooder {
    background-color: rgb(24, 24, 24);
}

@media screen and (min-width: 720px) {
    #myMenu {
        display: none;
    }

    .icone {
        display: none;
    }
}